name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main # or master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Deploy to VM
        run: |
            ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=yes $VM_USER@$VM_HOST "
            if [ -d /${{ secrets.VM_USER }}/wepay-app/.git ]; then
                cd /${{ secrets.VM_USER }}/wepay-app
                git fetch --all
                git reset --hard origin/main
            else
                rm -rf /${{ secrets.VM_USER }}/wepay-app
                git clone git@github.com:Kaperskyguru/wepay.git /${{ secrets.VM_USER }}/wepay-app
                cd /${{ secrets.VM_USER }}/wepay-app
            fi

            docker compose down || true
            docker compose up -d --build
            "
