name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main # or master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Deploy to DigitalOcean
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.VM_USER }}@${{ secrets.VM_HOST }} << 'EOF'
            set -e

            mkdir /wepay-app
            cd /wepay-app

            echo "Pulling latest code..."
            git pull origin main

            echo "Installing dependencies..."
            yarn install --frozen-lockfile

            echo "Generating Prisma client..."
            npx prisma generate

            echo "Restarting Docker services..."
            docker compose down
            docker compose up -d --build

            echo "Deployment complete!"
          EOF
